body{
    font-family: "Fuzzy Bubbles", sans-serif;
}

.skip-link{
    display: none;
}

header{
    background-image: linear-gradient(#87CEFA, white);
    margin-top: 0px;
}

.title{
    width: 13%;
    font-size: 53px;
    padding-left: 10px;
    padding-top: 5px;
    color: black;
}
.subtitle{
    float: left;
    color: black;
    padding-left: 10px;
}

header > div  > p{
    padding-right: 16px;
    width: 152px;
    margin-top: -155px;
    float: right;
    font-size: large;
    text-align: center;
    text-decoration: none;
}

header > div  > p > a{
    text-decoration: none;
}


.link-github{
    padding-right: 16px;
    width: 126px;
    margin-top: -20px;
    float: right;
    font-size: large;
    text-align: center;
    text-decoration: none;
    border: 2px solid black;
    padding: 15px;
    
}

nav{
    margin-top: 150px;
   
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #87CEFA;
}

nav > ul > li{
    float: left;
}

nav > ul > li > a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    padding-right: 20px;
    text-decoration: none;
}

nav > ul > li > a:hover {
    background-color: white;
  }

  main > div > article > section{
    background-color: #333333;
    width: 80%;
    text-align: center;
    margin: auto;
    padding-top: 22px;
    color: white;
    padding-bottom: 40px;
    border-radius:5px;
    margin-top: 30px;
    line-height: 25px;
  }