body{
    font-family: "Fuzzy Bubbles", sans-serif;
}

.skip-link{
    display: none;
}
/* -----------------------------------------HEADER---------------------------------------------------- */
header{
    background-image: linear-gradient(#87CEFA, white);
    margin-top: 0px;
}

.title{
    width: 13%;
    font-size: 53px;
    padding-left: 10px;
    padding-top: 5px;
    color: black;
}
.subtitle{
    float: left;
    color: black;
    padding-left: 10px;
}

header > div  > p{
    padding-right: 16px;
    width: 152px;
    margin-top: -155px;
    float: right;
    font-size: large;
    text-align: center;
    text-decoration: none;
}

header > div  > p > a{
    text-decoration: none;
}


.link-github{
    padding-right: 16px;
    width: 126px;
    margin-top: -20px;
    float: right;
    font-size: large;
    text-align: center;
    text-decoration: none;
    border: 2px solid black;
    padding: 15px;
    
}

nav{
    margin-top: 150px;
   
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #87CEFA;
    text-align: center;
}

nav > ul > li{
    display: inline-block;
    
}

nav > ul > li > a {
    display:inline-block;
    color: black;
    text-align: center;
    padding: 16px;
    padding-right: 20px;
    text-decoration: none;
}

nav > ul > li > a:hover {
    background-color: white;
  }
/* --------------------------------------------------BODY---------------------------------------- */
  main > div > article > section{
    background-color: #333333;
    width: 80%;
    text-align: center;
    margin: auto;
    padding-top: 22px;
    color: white;
    padding-bottom: 40px;
    border-radius:5px;
    margin-top: 30px;
    line-height: 25px;
    box-shadow: 20px 15px 15px #87CEFA;
    padding-left: 15px;
    padding-right: 15px;
    
  }

  main > div > article > section > a{
    color: white;
  }
  main > div > article > section > p > a{
    color: white;
  }
  main > div > article > section > blockquote > p >a{
    color: white;
  }
  
section > ol >li>a{
    color: white;
}

  ol{
    list-style: none;
    
  }

  main > div > article > section >  ul {
    list-style: none;
    padding: 0px 15px;
    
  }
  main > div > article > section >  ul >li:nth-child(odd){
    background-color: #87CEFA;
    color: black;
    padding: 10px;
    font-weight: 600;
    text-align: left;

  }
  main > div > article > section >  ul >li:nth-child(even){
    background-color: white;
    color: black;
    font-weight: 600;
    padding: 5px;
    text-align: right;
  }


  /* ---------------------------------------FOOTER---------------------------------------------- */
   .containerOne{
    background-color: #87CEFA;
    padding-top: 15px;
    padding-bottom: 25px;
  }

footer > div > a{ 
    overflow: hidden;
    color: black;
    text-align: center;
    padding: 16px;
    padding-right: 20px;
    text-decoration: none;

}

footer > div > a:hover {
    background-color: white;
  }


aside{
    background-color: #333333;
    width: 80%;
    text-align: center;
    margin: auto;
    padding-top: 22px;
    color: white;
    padding-bottom: 40px;
    border-radius:5px;
    margin-top: 30px;
    line-height: 25px;
    box-shadow: 20px 15px 15px #87CEFA;
    padding-left: 15px;
    padding-right: 15px;
}

aside > div > ul >li{
    list-style: none;
}
aside > div > ul >li >span >a{
    color: white;
    text-decoration: none;
    border-bottom: 3px white dashed;

}
















  footer{
    background-image: linear-gradient( white, #87CEFA);
    padding-top: 30px;
    text-align: center;
  }


